<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.rtems">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.Initializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityError"></activity>
        <activity android:name=".ActivityOtpPhase2" />
        <activity android:name=".ActivityOTP" />
        <activity android:name=".ActivityHistoricalData" />
        <activity android:name=".ActivitySettings" />
        <activity android:name=".ActivityRegisterUser" />
        <activity android:name=".ActivityLogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityDisplay" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>